/***********************************************
 * @author Jennifer Grace
 * UNHBootCamp
 * CSS for Harry Potter Trivia Game
 ***********************************************/

 body {
    background-image: url("../images/town.png");
    background-repeat: no-repeat;
    background-size: auto;
}
button {
    position:relative;
    top:50%; 
    left:25%;
    background: goldenrod !important;
}
h1, h2, ol, p {
    font-weight: bold; 
    font-family: 'Crete Round', serif;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
p {
    font-family: 'Playball', cursive !important;
}
.answers {
    cursor: pointer;
}
.appear {
    height: 50px;
    width: 100%;
}
.question-space {
    text-align: center;
}
#banner {
    background-image: url("../images/harryPotterBanner.png");
    background-size: cover;
    border: 4px solid goldenrod;
    height: 240px !important;
}
#reset {
    top: 50%;
    left: 40%;
}
#timer {
    background-image: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url("../images/maraudersMap.png");
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
#question-answer-space {
    background-image: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url("../images/maraudersMap.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    resize: horizontal;
    height: 420px;
}
