/***********************************************
 * @author Jennifer Grace
 * UNHBootCamp
 * CSS for Harry Potter Trivia Game
 ***********************************************/

 body {
    background-image: url("../images/mainBackground.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
button {
    position:relative;
    top:40%; 
    left:42%;
    background: goldenrod !important;
}
/* h1, ol {
    color: black !important;
    opacity: 1 !important;
    font-weight: bold;
} */
#banner {
    background-image: url("../images/harryPotterBanner.png");
    margin-left: 20px;
    background-size: cover;
    border: 4px solid goldenrod;
    height: 240px !important;
}
#timer {
    background-image: url("../images/maraudersMap.jpg");
}
#question-answer-space {
    background-image: url("../images/maraudersMap.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    resize: vertical;
    height: 420px;
    opacity: .7;
}
